<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <script type="text/x-handlebars">
        {{outlet}}
      </script>
      <script type="text/x-handlebars"  data-template-name="test">
        Hallo!
      </script>
    </div>
    <script type="text/javascript" src="javascripts/libs/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="javascripts/libs/handlebars-1.0.0.js"></script>
    <script type="text/javascript" src="javascripts/libs/ember-1.0.0.js"></script>
    <script type="text/javascript" src="javascripts/libs/ember-data.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>
